<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <dict>
 	<key>CLIENT_ID</key>
 	<string>867240552268-p4mbknhpq5raiub1f7g7k29ncn8bsse3.apps.googleusercontent.com</string>
 	<key>REVERSED_CLIENT_ID</key>
 	<string>com.googleusercontent.apps.867240552268-p4mbknhpq5raiub1f7g7k29ncn8bsse3</string>
 	<key>API_KEY</key>
 	<string>AIzaSyDigJ70CTGUj6ZeCgEb6E42K8E5BUO2l_U</string>
 	<key>GCM_SENDER_ID</key>
 	<string>867240552268</string>
 	<key>PLIST_VERSION</key>
 	<string>1</string>
 	<key>BUNDLE_ID</key>
 	<string>com.crunchycorp.dubstepfm</string>
 	<key>PROJECT_ID</key>
 	<string>dubstep-fm-52151</string>
 	<key>STORAGE_BUCKET</key>
 	<string>dubstep-fm-52151.appspot.com</string>
 	<key>IS_ADS_ENABLED</key>
 	<false></false>
 	<key>IS_ANALYTICS_ENABLED</key>
 	<false></false>
 	<key>IS_APPINVITE_ENABLED</key>
 	<true></true>
 	<key>IS_GCM_ENABLED</key>
 	<true></true>
 	<key>IS_SIGNIN_ENABLED</key>
 	<true></true>
 	<key>GOOGLE_APP_ID</key>
 	<string>1:867240552268:ios:fec1daf4902aa8e1d791e9</string>
 </dict>
 </plist>
